@model SA.Service.ViewModels.ProcessoViewModel
@{
    ViewData["Title"] = "Cadastrar Processo";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <form asp-controller="Processo" asp-action="Create" method="post">
        <div class="form-group row">
            @Html.LabelFor(model => model.Numero)
            <input class="form-control" asp-for="Numero" />
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Estado)
            <input class="form-control" asp-for="Estado" />
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.DataCriacao)
            <input class="form-control" asp-for="DataCriacao" type="datetime" value="@DateTime.UtcNow.ToShortDateString()" />
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Valor)
            <input class="form-control" asp-for="Valor" type="number" />
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.IsAtivo)
            <input class="form-check-input" asp-for="IsAtivo" type="checkbox" />
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Cliente.Cnpj)
            <input class="form-control" asp-for="Cliente.Cnpj" type="text" />
        </div>
        <div class="form-group row">
            <button class="btn btn-default" type="submit">Salvar</button>
        </div>
    </form>
</div>