@model IList<SA.Service.ViewModels.ProcessoViewModel>
@{
    ViewData["Title"] = "Processos no mesmo estado do cliente";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="form-group row">
        <span>
            <a class="btn btn-default" asp-area="" asp-controller="Processo" asp-action="Index">Lista de Processos</a>
        </span>
    </div>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Estado</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Valor</th>
                <th scope="col">Ativo</th>
                <th scope="col">Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.DataCriacao)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td>@Html.DisplayFor(modelItem => item.IsAtivo)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
            </tr>
    }
        </tbody>
    </table>
</div>